@import "base";
@import "variable";
@import "general";

.main {
  width: 100%;
  margin: 0 auto;

  > * {
    height: 100%;
  }

  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 5rem 0;
  }

  .calculator-body {
    background-color: $color-white;
    padding: 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 57rem;
    height: 30rem;
    margin: 0 auto;
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .input-number {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      &__title {
        color: $Dark_grayish_cyan;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 6px;
      }

      &__input {
        padding: 8px 18px;
        font-size: 1.5rem;
        font-weight: bold;
        color: $Very_dark_cyan;
        text-align: right;
        border: 2px solid transparent;
        background-image: url("../../assets/images/icon/icon-dollar.svg");
        background-repeat: no-repeat;
        background-position: 1rem;

        &:focus {
          border: 2px solid $border_focus;
        }

      }

      &__icon {
        position: absolute;
        top: auto;
        bottom: 14px;
        right: auto;
        left: 18px;
      }

      &__erorr {
        width: fit-content;
        height: fit-content;
        display: inline-flex;
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        color: $color-erorr;
        font-size: 1rem;
        font-weight: bold;
        @media screen and (max-width: 430px) {
          position: relative;
        }
      }

      &.number-people {
        margin-top: 2.5rem;

        .input-number__input {
          background-image: url("../../assets/images/icon/icon-person.svg");
          background-repeat: no-repeat;
          background-position: 1rem;

        }
      }
    }

    &__input {
      width: 100%;
      padding: 1rem;
      @media screen and (max-width: 991px) {
        padding: 0rem;
      }

      &--select-tip {

        &-title {
          display: block;
          font-size: 1rem;
          font-weight: bold;
          color: $Dark_grayish_cyan;
          margin-bottom: 1rem;
          margin-top: 2.5rem;
        }

        .container-btn {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 16px;
          grid-row-gap: 16px;
          @media screen and (max-width: 425px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
          }

          .active {
            background-color: $btn_submit;
            color: $Very_dark_cyan;
            transition: transform 0.3s ease-in-out;
            transform: scale(0.98);
          }

          &__item {
            width: 100%;
            background-color: $Very_dark_cyan;
            color: $color-white;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: $radiuse-5;
            transition: all 0.3s ease-in-out;


            &.input-custom {
              background-color: $bg_input;
              display: inline-flex;
              width: 100%;
              height: 3rem;
              color: $Very_dark_cyan;
              text-align: center;

              &::placeholder {
                display: inline-flex;
                text-align: center;
              }
            }
          }
        }
      }
    }

    &__result {
      width: 100%;
      background-color: $Very_dark_cyan;
      border-radius: 15px;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .container-show-value {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media screen and (max-width: 768px) {

          align-items: flex-start;
        }
      }

      &--show-value {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        &-title {
          display: flex;
          flex-direction: column;

          .title, .subtitle {
            font-weight: bold;

          }

          .title {
            color: $color-white;
            font-size: 1rem;
          }

          .subtitle {
            font-size: 13px;
            color: #7F9D9F;
          }
        }

        &-value {
          color: $btn_submit;
          font-size: 48px;
          font-weight: bold;
          @media screen and (max-width: 425px) {
            font-size: 38px;
          }
        }

        &.total {
          margin-top: 1.5rem;
        }
      }

      .btn-reset {
        width: 100%;
        border-radius: $radiuse-5;
        background-color: $btn_submit;
        height: 3rem;
        margin-top: 7.625rem;
        color: $Very_dark_cyan;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

}

